Repository w3c/sparql-graph-store-protocol, pull requests merged in 2023-05, with the labels that each got.

#11 FPWD
  publication-snapshots/FPWD/Overview.html
  publication-snapshots/FPWD/ProtocolModel.jpg
  publication-snapshots/FPWD/ProtocolModelIndirect.jpg
Labels: ms:FPWD

#13 hot fix on FPWD (also reflected on TR/)
  publication-snapshots/FPWD/Overview.html
  spec/index.html
Labels: ms:FPWD, spec:editorial

#14 Remove duplicate previousPublishDate
  spec/index.html
Labels: spec:editorial
